ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style: [pre-commit.ci] auto fixes [...]"
  autoupdate_commit_msg: "ci: [pre-commit.ci] autoupdate"

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.35.8
    hooks:
      - id: typos
        args: [--force-exclude]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
      - id: ruff-check
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.1
    hooks:
      - id: mypy
        files: "^src/"
        additional_dependencies:
          - pydantic >2.8
          - in-n-out

  - repo: local
    hooks:
      - id: pyright
        stages: [manual]
        name: pyright
        language: system
        exclude: "^tests/.*|^demo/.*|^docs/.*"
        types_or: [python, pyi]
        require_serial: true
        entry: uv run pyright
