ci:
  autoupdate_schedule: monthly
  autofix_commit_msg: "style: [pre-commit.ci] auto fixes [...]"
  autoupdate_commit_msg: "ci: [pre-commit.ci] autoupdate"

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/crate-ci/typos
    rev: v1.18.1
    hooks:
      - id: typos

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.0
    hooks:
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        files: "^src/"
        additional_dependencies:
          - pydantic >2
          - pydantic-compat
          - in-n-out
